

services:
  api:
    build:
      context: ./backend
    container_name: credit-score-api
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app.db:/app/app.db
    restart: always